


@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>


        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Student Information
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">First Name : Redet</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Parent Name:Yeshidagna
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <h2> GRADE REPORT</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>SUBJECT TYPE</th>
                                    <th>CONDACT</th>
                                    <th>PERCENT(100%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success">
                                    <td>1</td>
                                    <td>MATH</td>
                                    <td>B</td>
                                    <td>75%</td>
                                </tr>
                                <tr class="success">
                                    <td>2</td>
                                    <td>ENGLISH</td>
                                    <td>A</td>
                                    <td>85%</td>
                                </tr>
                                <tr class="warning">
                                    <td>3</td>
                                    <td>AMHARIC</td>
                                    <td>C</td>
                                    <td>50%</td>
                                </tr>
                                <tr class="warning">
                                    <td>4</td>
                                    <td>CIVICS</td>
                                    <td>C</td>
                                    <td>53%</td>
                                </tr>
                                <tr class="warning">
                                    <td>5</td>
                                    <td>HISTORY</td>
                                    <td>A</td>
                                    <td>45%</td>
                                </tr>
                                
                                    <td>VIEW MORE</td>
                                   
                                
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2>ATTENDANCE</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>DATE</th>
                                    <th>ABSENCE</th>
                                    <th>NO OF ABSENCE</th>
                                    <th>TOTAL DAYS(WEEK)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3/31/17</td>
                                    <td>YES</td>
                                    <td>2</td>
                                    <td>7</td>
                                </tr>
                                
                                
                                
                                <tr>
                                    <td>3/31/19</td>
                                    <td>YES</td>
                                    <td>3</td>
                                    <td>7</td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            <
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>